---
import '../styles/global.css';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Caio Teixeira | Portfolio">
	<main>
		<!-- Conteúdo será adicionado aqui -->
	</main>
</Layout>

<style>
	main {
		width: 100%;
		min-height: 100vh;
	}
</style>
